  <%= stylesheet_link_tag 'scaffold' %>

<H1> Skills Assessment: Lab Notebook </H1>
<H2> Tyler Green </H2>
<H2> Enova Financial </H2>

<%= link_to 'Select Researcher', 'researchers' %>
<BR>
<%= link_to 'Researchers by Project', 'projects' %>
<BR>
<%= link_to 'Project Graph', 'graph' %>
